pkgbase = intelligence-database-hsr
	pkgdesc = Offline osu!lazer research build with visibly synthetic HSR traces
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/Enterlessguy/OSU-HSR
	arch = x86_64
	license = MIT
	license = custom
	checkdepends = python-pytest
	makedepends = dotnet-sdk-8.0
	makedepends = git
	depends = alsa-lib
	depends = dotnet-runtime-8.0
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = libglvnd
	depends = libpng
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxinerama
	depends = libxrandr
	depends = libxss
	depends = libxkbcommon
	depends = libpulse
	depends = wayland
	depends = python>=3.12
	depends = python-matplotlib
	depends = python-numpy
	depends = python-pandas
	depends = python-pillow
	depends = python-pyarrow
	depends = python-polars
	depends = python-scikit-learn
	depends = python-scipy
	depends = python-pydantic
	depends = python-joblib
	depends = zlib
	source = intelligence-database-hsr::git+https://github.com/Enterlessguy/OSU-HSR.git#commit=a5a3296d0e94523e92427b718c6d063a896ecdbc
	sha256sums = SKIP

pkgname = intelligence-database-hsr
